body {
  max width: 70%;
  background-color: #FFF;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 0;
}

h2 {
  margin-top: 10px;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  color: black;
  font-size: 1.8em;
}

header,
.main-header {
  padding-top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 3);
}

.main-header {
  background-color: white;
  border-bottom: solid 3px firebrick;
  padding-bottom: 3px;
  border-top: solid 3px firebrick;
}

.main-header {
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  margin-top: 0;
}

.main-header img {
  display: inline;
  padding-top: 0;
  margin-bottom: 5px;
  margin-top: 0;
  margin-left: 10px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  list-style: none;
}

.main-nav a {
  padding: 20px;
  text-decoration: none;
  font-family: verdana, sans-serif;
  color: black;
  font-size:16px;
}


.dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Style The Dropdown Button */

 .dropbtn {
  background-color: white;
  color: black;
  padding: 0;
  font-size: 16px;
  font-family: verdana, sans-serif;
  list-style: none;
}

.dropdown-content {
 display: none;
 position: absolute;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,10);
 z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: verdana;
}

.dropdown-content a:hover {
  background-color: firebrick;
}

/* .dropbtn:hover {background-color: white} */

.dropdown:hover  .dropdown-content  {
  display: block;
  width: 150px;
}

.dropdown a {
  background-color:  white;
  text-align: center;
  font-family: verdana;
}

/* end dropdown style */

/* .title-banner {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
  justify-content: center;
} */

/* .title-banner h1 {
font-family: 'Mukta', sans-serif;
}

figcaption {
  position: absolute;
  top: 0;
  /* left: 40%; */
  /* width:90%;
  color: white;
} */

/* main img {
  width: 100%;
  display: block;
  padding-top: 1.5px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-bottom: solid lightslategray 1px;
  border-top: solid lightslategray 1px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, .2);
  filter:grayscale(30%);
} */

/* main {
  position: relative;
} */

.container {
  width: 75%;
  margin: 0 auto;
}

.main-footer a {
  text-decoration: none;
  color: white;
  font-family: verdana, sans-serif;
}

.main-footer {
  text-align: center;
}

.main-footer {
  padding: 10px;
  background-color: darkgray;
  border-top: solid firebrick 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 4);
}

.services {
  width: 85%;
  margin: 0 auto;
}

.flexy-boi {
  width: 85%;
  margin: 0 auto;
  align-items: center;
}

.flexy-boi {
  display: flex;
  flex-direction: row;
  height: 30vh;
  font-size: 20px;
  font-family: 'Helvetica Neue', sans-serif;
}

.flexy-boi p {
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
  flex: 1;
}

/* services styling */
.tenancy-title h2, .tenant-introduction-title h2,.inventory-prep-body h2, .letting-management-title h2 {
  margin-top: 20px;
  padding-top: 10px;
  font-family: 'Arimo', sans-serif;
  color: black;
  font-size: 1.8em;

  text-align: center;
}
.tenancy-body, .tenant-introduction-body, .inventory-prep-body, .letting-management-body {
  width: 80%;
  margin: 0 auto;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* end services styling */




/* .photo-break {
display: flex;
width: 100%;
max-height: 30vh;
overflow: hidden;
justify-content: space-between;
}

.photo-break img {
  display: flex;
  width: 25%;
} */



/* Media Queries */

@media (min-width: 769px) {
  .wrap {
  min-height: calc(100vh - 40px);
  }

  /* header img,
 .dropdown a {
   display: block;
   text-align: center;
   padding: 10px 15px;
  } */

  /* .dropdown a, nav .dropdown {
    display: block;
    text-align: center;
  } */

  .title-banner {
    color: black;
    background:
      url("images/key-in-door-cropped.webp"), no-repeat;
      background-size: cover;
      height: 450px;
      text-align: center;
      padding-top: 0;
      font-family: 'Arimo', sans-serif;
  }

  .title-banner h1 {
      color: #fff;
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 160px;
      font-family: 'Arimo', sans-serif;
      margin-top: 0;
    }

  /* .primary-col {
    float: left;
    width: 25%;
  } */

  /* .primary-col{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: verdana;
    font-size: .8rem;
    display: inline;
    border: solid 2px lightcoral;
  } */


   /* main .primary-col {
    position:absolute;
    top: 15%;
    right: 25px;
    width: 25%;
    padding-top: 0;
    padding-right: 1em;
    padding-bottom: 0;
    padding-left: 1em;
    font-size: 20px;
    border: solid 2px lightcoral;
    display: inline;
    font-family: verdana;
    /* background:
      linear-gradient(to bottom, white, transparent 45%),
      linear-gradient(to top, lightslategray, transparent 55%); */
    /* color: black;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 6);
  } */



  .services h2 {
    color: firebrick;
  }

  .services ul {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin:  0 auto;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    flex-wrap: wrap;
  }

  .services li {
    font-family: 'Helvetica Neue';
    margin: 5px;
    list-style: none;
    font-size: 20px;
  }

  span h2 {
    padding-bottom: 0;
  }

  .contact h2 a {
    text-decoration: none;
    color: firebrick;
    margin-bottom: 0;
    font-family:'Arimo', sans-serif;
  }

  .contact p, #email {
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: none;
    font-size: 18px;
    display: block;
    font-family: 'Helvetica Neue', sans-serif;
  }
  .contact p {
    text-decoration: none;
  }

  .contact {
    padding-bottom: 10px;
    margin-bottom: 30px;

  }
}


/* End dropdown */

header::after {
content: "";
display: table;
clear: both;

}

main::after {
  content: "";
  display: table;
  clear: both;
}
