body {
  max width: 70%;
  background-color: #FFF;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.wrap {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 0;
}

h2 {
  margin-top: 10px;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  color: black;
  font-size: 3em;
}

header,
.main-header {
  padding-top: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 3);
}

.main-header {
  background-color: white;
  border-bottom: solid 3px firebrick;
  padding-bottom: 3px;
  border-top: solid 3px firebrick;
}

.main-header {
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  margin-top: 0;


}

.main-header img {
  display: inline;
  padding-top: 0;
  margin-bottom: 5px;
  margin-top: 0;
  margin-left: 10px;

}


/* Style The Dropdown Button */

 .dropbtn {
  background-color: #fff;
  color: white;
  padding: 0px;
  font-size: 16px;
  font-family: "helvetica neue", sans-serif;
  border: none;
  cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: white;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a, nav a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: verdana;
}

.dropbtn:hover {background-color: white}

.dropdown:hover  .dropdown-content  {
  display: block;
  width: 150px;
}

.dropdown:hover .dropbtn {
  background-color:  white;
}

/* end dropdown style */


main img {
  width: 100%;
  display: block;
  padding-top: 1.5px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-bottom: solid lightslategray 1px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, .2);
  filter:grayscale(30%);

}

main {
  position: relative;
}

figcaption {
  position: absolute;
  top: 0;
  /* left: 40%; */
  width:100%;

}

figcaption h2 {
  font-size: 25px;

}

.container {
  width: 75%;
  margin: 0 auto;

}




}

.dropdown a {
  padding: 10px 15px;
  width: 100px;
  text-align: center;
}


/* .title-top, */
.dropdown a {
  border: solid cornflowerblue 1.5px;
  background-color:  white;
  text-align: center;
  font-family: verdana;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 4);
}


.main-footer a {
  text-decoration: none;
  color: white;
  font-family: verdana, sans-serif;

}

.main-footer {
  text-align: center;
}

.main-footer {
  padding: 10px;
  background-color: darkgray;
  border-top: solid firebrick 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 4);
}

.dropdown-content a:active {
  background-color:lightcoral 3px;
}

.dropdown a:link {
  text-decoration: none;
  margin: 5px;
}


 span .call-to-action {
  text-align: center;
  display: inline-block;
}


/* Media Queries */

@media (min-width: 769px) {
  .wrap {
  min-height: calc(100vh - 40px);
  }

  header img,
 .dropdown a {
   display: block;
   text-align: center;
   padding: 10px 15px;

  }

  .dropdown a {
    display: inline-block;
  }

  .dropdown a {
    float: right;
  }

p {
  font-family: verdana;
}


  header img {
    float: left;
  }

  nav {
    margin-top: 20px;
  }

  .primary-col {
    float: left;
    width: 25%;

  }

  .primary-col{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: verdana;
    font-size: .8rem;
    display: inline;
    border: solid 2px lightcoral;

  }


   main .primary-col {
    position:absolute;
    top: 15%;
    right: 25px;
    width: 25%;
    padding-top: 0;
    padding-right: 1em;
    padding-bottom: 0;
    padding-left: 1em;
    font-size: 20px;
    border: solid 2px lightcoral;
    display: inline;
    font-family: verdana;
    /* background:
      linear-gradient(to bottom, white, transparent 45%),
      linear-gradient(to top, lightslategray, transparent 55%); */
    color: black;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 6);
  }

}

 /* .wrap .call-to-action {
    text-align: center;
    font-size: 24px;
    font-family:"helvetica neue";

    border: solid 3px salmon;
  } */

span #call-to-action {
  text-align: center;
  display: inline-block;

}

.services ul {

  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin:  0 auto;
  align-items: center;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.services li {
  border: solid red 2px;
  font-family: 'Helvetica Neue';
  list-style: none;


}


/* End dropdown */

header::after {
content: "";
display: table;
clear: both;

}

main::after {
  content: "";
  display: table;
  clear: both;
}
